* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 25px 0 50px;
}

h1, h2 {
  user-select: none;
  cursor: default;
}

h1 {
  padding: 50px 0;
  margin-top: 0;
  font-size: 7vw;
  font-weight: 900;
  font-family: 'Bungee', cursive;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffeee5;
  background: #f55c03;
  position: relative;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  color: #bbbbbb;
}

img {
  display: block;
  user-select: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 12px 18px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background: #03c8f5;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  & + & {
    margin-left: 12px;
  }
}

.btn-link {
  color: #03c8f5;
  background: transparent;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 10px;
  font-size: 28px;
  background: transparent;
  overflow: hidden;

  &, .paper-ripple {
    border-radius: 50%;
  }
}

.btn-red {
  color: #f55c03;
}

.btn-blue {
  color: #03c8f5;
}

.link-list {
  width: 100%;
  max-width: 200px;
  border: 1px solid #dde2e2;
}

.link {
  width: 100%;
  padding: 12px;
  position: relative;
  color: #8e8e8e;
  user-select: none;

  & + & {
    border-top: 1px solid #dde2e2;
  }
}
