{
  "presets": [
    ["@babel/env", { "modules": false }],
    "@babel/stage-3",
    "@babel/react",
    "@babel/flow"
  ],
  "env": {
    "esm": {
      "plugins": [
        ["@babel/transform-runtime", { "useBuiltIns": true, "useESModules": true }]
      ],
      "ignore": [
        "**/*.test.js",
        "**/__mocks__/**"
      ]
    },
    "cjs": {
      "plugins": [
        "@babel/transform-modules-commonjs",
        ["@babel/transform-runtime", { "useBuiltIns": true, "useESModules": false }]
      ],
      "ignore": [
        "**/*.test.js",
        "**/__mocks__/**"
      ]
    },
    "test": {
      "plugins": [
        "@babel/transform-modules-commonjs"
      ]
    }
  }
}
