{
  "presets": [["env", { "modules": false }], "stage-1", "react"],
  "plugins": ["transform-class-properties", "transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "stage-1", "react"]
    },
    "esm": {
      "presets": [["env", { "modules": false }], "stage-1", "react"]
    },
    "cjs": {
      "presets": [["env", { "modules": "commonjs" }], "stage-1", "react"]
    }
  }
}
